.App {
  text-align: center;
}

.App-logo-spin {
  animation: App-logo-spin infinite 10s linear;
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 2em;
}

.App-logo-spin-circular {
  animation: App-logo-spin-circular infinite 10s linear;
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 2em;
}

.App-header {
  background-color: #2C3E50;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  color: white;
}

p.body-title {
  font-style: italic;
  margin-bottom: 3em;
}

p.body-subtitle {
  font-weight: light;
  font-size: calc(7px + 2vmin);
}

p.body-text {
  font-weight: lighter;
  font-size: calc(5px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  } 
  to {
    transform: rotateY(360deg);
  }
}

@keyframes App-logo-spin-circular {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(360deg);
  }
}